<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>AI Resume Analyzer</h1>

<form action="/analyze" method="POST" enctype="multipart/form-data">

<label>Upload Resume (.txt)</label><br><br>

<input type="file" name="resume" required><br><br>

<label>Paste Job Description</label><br><br>

<textarea name="job" rows="12" cols="70" required></textarea>

<br><br>

<button type="submit">
Analyze Resume
</button>

</form>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>